/*this is the first page */

#navbar {
    display: block;
    background-color: #D9D9D9;
    height: 2rem;

}

.navbar-left {
    display: flex;
    justify-content: flex-start;

}

#pdl {
    max-width: 60px;
    position: relative;
    left: 2rem;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 3.5rem;
    gap: 1.4rem;
}

@media screen and (max-width: 425px) {
    #navbar {
        display: block;
        height: 1.4rem;
    }

    #pdl {
        display: block;
        max-width: 37%;
        position: relative;
        left: 1em;
        bottom: 0.3rem;
    }

    .navbar-right {
        display: flex;
        justify-content: flex-end;
        font-size: small;
        gap: 0.4rem;
        position: relative;
        bottom: 2.3rem;
    }
}

@media screen and (max-width: 900px) {
    #pdl {
        max-width: 55%;
        position: relative;
        top: -10px;
    }

    .navbar-right {
        bottom: 3.5rem;
        font-size: 15px;
    }
}


#navbar a {
    text-decoration: none;
    color: black;
}

#navbar a:hover {
    color: #742C2C;
}


body {
    margin: 0;
    padding: 10px;
    font-family: georgia; 
}

.search {
    top: 14px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: small;
    right: 30px;
    gap: 5px;
}

@media screen and (max-width: 425px) {
    .search {
        display: flex;
        max-width: 50%;
        position: relative;
        font-size: 13px;
        justify-content: center;
        left: 5.4rem;
        top: 1.4rem;
    }
    
   #search-title, #search-isbn, #book-type, #genre {
    width: 53px;
    height: 35px;

   }
}

@media screen and (max-width: 900px) {
    .search {
        top: 2rem
    }
}

#search-bar {
    gap: 5px;
    display: flex;
}



#search-title {
    border-radius: 6px;
    text-align: center;
}

#search-isbn {
    border-radius: 6px;
    text-align: center;
}

#book-type {
    border-radius: 6px;;
}

#genre {
    border-radius: 6px;
}

.sidewrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    row-gap: 8px;
    padding: 40px 25px 40px 30px;
}

@media screen and (max-width: 425px) {
    .sidewrwapper {
        display: none;
    }  
}

@media screen and (max-width: 900px) {
    .sidewrapper {
        font-size: 15px;
        row-gap: 15px;
        top: 8rem;
    }
}

.sidewrapper a{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    .sidewrapper a {
        display: none;
    }
}


.main, .main-2 {
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .main, .main-2 {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .main, .main-2 {
        display: grid;
        grid-auto-flow: row;
        gap: 0.5rem; 
        grid-template-rows: repeat(auto-fit, minmax(820px));
    }
}

.welcome {
    display: flex;
    left: 12rem;
    top: 3rem;
    flex-direction: column;
    position: relative;
    max-width: 25rem;
}

@media screen and (max-width: 425px) {
    .welcome {
        display: block;
        position: relative;
        left: auto;
    }
}

@media screen and (max-width: 900px) {
    .welcome {
        display: flex;
        flex-direction: column;
        width: auto;
    }
}

.welcome2 {
    display: block;
    position: relative;
    padding: 0rem 10rem;
    top: -2rem;
    left: 1rem;
}

@media screen and (max-width: 425px) {
    .welcome2 {
        display: block;
    }
}

#peadmount-wel {
    font-size: 38px;
    padding: 3px 7px;
}

@media screen and (max-width: 425px) {
    #peadmount-wel {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    #peadmount-wel {
        font-size: large;
        width: 300px;
        position: relative;
        left: 7rem;
    }
}

#lorem {
    padding: 0px 9px;
    position: inherit;
    bottom: 15px;
}

@media screen and (max-width: 425px) {
    #lorem {
        font-size: 15px;
        line-height: 1.5em;
        padding-top: 10px;
    }
}

@media screen and (max-width: 900px) {
    #lorem {
        font-size: medium;
        line-height: 1.8em;
        width: 540px;
    }
}

#book-stack {
    max-width: 75vh;
    display: block;
    margin: 75px 25px;
    position: relative;
    left: 8rem;
    bottom: 1rem;
}

@media screen and (max-width: 425px) {
    #book-stack {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #book-stack {
        max-width: 55%;
        margin: 0 65px;
    }
}


#friends {
    max-width: 75vh;
    display: block;
    height: 50vh;
}

@media screen and (max-width: 425px) {
    #friends {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #friends {
        max-width: 80%;
        margin: 0 62px;
        max-height: 44%;
    }
}
 
#kids {
    max-width: 75vh;
    display: block;
    height: 50vh;
    position: relative;
    top: -5rem;
    left: -4.7rem;
}

@media screen and (max-width: 425px) {
    #kids {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #kids {
    max-width: 54%;
    max-height: 39%;
    position: relative;
    left: 12rem;
    top: -25rem;
    }
}

.kids {
    margin: 50px 50px;
}

@media screen and (max-width: 425px) {
    .kids {
        display: none;
    }
}

.students {
    margin: 50px 50px;

}

@media screen and (max-width: 425px) {
    .students {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .students {
        display: block;
    }
    
}

.rectangle {
    background-color:#742C2C;
    text-align: center;
    color: white;
    font-size: larger;
    position: absolute;
    width: 387px;
    border-radius: 12px;
    top: 21.7rem;
    right: 8rem;
}

@media screen and (max-width: 425px) {
    .rectangle {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .rectangle {
        position: relative;
        top: auto;
        left: 240px;
        bottom: 115px;
        width: 44%;
    }
}

.rectangle2 {
    background-color:#742C2C;
    text-align: center;
    color: white;
    font-size: larger;
    position: absolute;
    width: 387px;
    border-radius: 12px;
    top: 11.5rem;
    right: 12rem;
}

@media screen and (max-width: 425px) {
    .rectangle2 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .rectangle2 {
        position: relative;
        top: auto;
        left: 115px;
        width: 60%;
        bottom: 100px;
    }
}

.rectangle3 {
    background-color:#742C2C;
    text-align: center;
    color: white;
    font-size: larger;
    position: absolute;
    width: 387px;
    border-radius: 12px;
    right: 7.5rem;
    bottom: -15rem;
}

@media screen and (max-width: 425px) {
    .rectangle3 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .rectangle3 {
        max-width: 45%;
        max-height: 44%;
        position: relative;
        left: 14rem;
        top: -33rem;
    }
}

/*this is the about page */

.about-us {
    display: grid;
    grid-auto-flow: column;
}

@media screen and (max-width: 425px) {
    .about-us {
        display: grid;
        grid-auto-flow: row;
        gap: 8rem;
    }
}

.about-us2 {
    display: grid;
    grid-auto-flow: column;
    text-overflow: clip;
}

@media screen and (max-width: 425px) {
    .about-us2 {
        display: grid;
        grid-auto-flow: row;
        gap: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .about-us {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .about-us2 {
        padding-top: 1rem;
    }
}

.about-pdl {
    display: block;
    position: relative;
    padding: 1rem 4rem;
    left: 7.5rem;
    margin: 4px;
}
@media screen and (max-width:425px) {
    .about-pdl {
        display: block;
        padding: 3rem 0rem;
        max-width: 100%;
        position: relative;
        left: 1rem;
    }
    }


.mission {
    display: block;
    position: relative;
    padding: 1rem 4rem;
}

@media screen and (max-width: 425px) {
    .mission {
        padding: 0rem;
        left: 1rem;
    }
}

.librarian {
    display: block;
    padding: 3rem;
}

@media screen and (max-width: 425px) {
    .librarian {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .librarian {
        padding: 0;
    }
}

#librarian {
    max-width: 40vh;
    position: relative;
    left: 9rem;
    bottom: 1rem;
}

@media screen and (max-width: 900px) {
    #librarian {
        max-width: 90%;
    }
}

.why {
    display: block;
    position: relative;
    left: 9rem;
}

@media screen and (max-width: 425px) {
    .why {
        position: absolute;
        top: 21rem;
        left: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .why {
        max-width: 40%;
    }
}

#why-text {
    inline-size: 450px;
    overflow-wrap: break-word;

}

@media screen and (max-width: 900px) {
    #why-text {
        overflow: hidden;
    }
}

/* this is the listings page */

.listings-book-hold {
    display: block;
    float: right;
    position: relative;
    top: 2rem;
    right: 2rem;
}

@media screen and (max-width: 900px) {
    .listings-book-hold {
        left: 2rem;
        font-size: 13px;
        top: 3rem;
    }
}

@media screen and (max-width: 425px) {
    .listings-book-hold {
        left: 6.5rem;
        font-size: small;
    }
}

#listing1 {
    max-width: 150px;
}

@media screen and (max-width: 900px) {
    #listing1 {
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    #listing1 {
        max-width: 100%;
    }
}

.listings-book1 {
    position: relative;
    top: 4rem;
    text-align: center;
    left: 3rem;
}

@media screen and (max-width: 900px) {
    .listings-book1 {
        left: 0rem;
        top: 5rem;
    }
}

@media screen and (max-width: 425px) {
    .listings-book1 {
        left: -14rem;
        top: 2rem;
    }
}

.book-listings-page {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2rem;
    padding: 4rem 15rem;
}

.books-grid {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2rem;
    position: relative;
    left: 7.5rem;
}

@media screen and (max-width: 900px) {
    .books-grid {
        left: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .books-grid {
        left: -13rem;
        top: -3rem;
    }
}

#booksrectangle1, #booksrectangle2{
    max-width: 550px;
}

@media screen and (max-width: 900px) {
    #booksrectangle1 {
        max-height: 70%;
        position: relative;
        top: 1rem;
    }

    #booksrectangle2 {
        max-width: 33vh;
        position: relative;
        top: -3rem;
    }
}

@media screen and (max-width: 425px) {
    #booksrectangle1 {
        max-height: 46%;
        position: relative;
        left: -2rem;
        top: 3rem;
    }

    #booksrectangle2 {
        max-height: 90%;
        position: relative;
        left: -2rem;
    }
}


.check-out-buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
    position: relative;
    bottom: 1rem;
}

@media screen and (max-width: 900px) {
    .check-out-buttons {
        gap: 1rem;
        right: 0.5rem;
        bottom: 4rem;
    }
}

@media screen and (max-width: 425px) {
    .check-out-buttons {
        gap: 0.5rem;
        left: -2rem;
        top: -5rem;
    }
}

#button-co, #hold-book {
    border-radius: 5px;
    background-color: #246D2B;
    color: white;
    border-color: white;
    cursor: pointer;
}


#titles {
    position: relative;
    right: 5.6rem;
}

/* this is the history page */

.history-profile {
    display: grid;
    grid-auto-flow: row;
    padding: 2.5rem 14rem;
}

.profile {
    display: grid;
    grid-auto-flow: row;
    row-gap: 4.2px;
}

@media screen and (max-width: 425px) {
    .profile {
        position: relative;
        left: -13rem;
    }

    .info {
        font-size: small;
        row-gap: 2rem;
        max-width: 30%;
        top: -13rem;
    }    
}



#default {
    max-width: 155px;
}

#checked-books {
    max-width: 440px;
}

@media screen and (max-width: 425px) {
    #checked-books {
        max-width: 44vh;
    }
}

.checkout-page {
    display: grid;
    grid-auto-flow: column;
}

.checkout-history {
    display: grid;
    grid-auto-flow: column;
}

#checkout-h3 {
    position: relative;
    top: 1rem;
}

@media screen and (max-width: 900px) {
    .history {
        position: relative;
        top: -5rem;
    }
}

@media screen and (max-width: 425px) {
    .history {
        top: -10rem;
        left: -14rem;
    }
}

@media screen and (max-width: 900px) {
    #checkout-h3 {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    #checkout-h3 {
        display: none;
    }
}

.favorites1, .favorites2 {
    display: grid;
    grid-auto-flow: column;
}

@media screen and (max-width: 900px) {
    .favorites1, .favorites2 {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .favaorites1, .favorites2 {
        display: none;
    }
}

.favorites-row1, .favorites-row2 {
    display: grid;
    grid-auto-flow: row;
    align-content: center;
}

#co-fav {
    border-radius: 10px;
    background-color:#246D2B;
    border-color: white;
    width: 9rem;
    cursor: pointer;
    color: white;
}


#favorite-books-img {
    max-width: 130px;
}

/* this is the description page */

.info {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 10rem;
    left: 10rem;
    flex-wrap: wrap;
}

.info li {
    display:list-item;
    gap: 4rem;
    list-style: none;
}

#star {
    font-size: smaller;
    color: #FFC700
}

.description-page {
    display: grid;
    grid-auto-flow: column;
    margin: 4rem 13rem;
}

.book-description {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    padding-right: 4rem;
}

@media screen and (max-width: 425px) {
    .book-description{
        position: relative;
        right: 12rem;
        padding: 0;
    }
}

#co-description {
    background-color: #246D2B;
    color: white;
    border-radius: 7px;
    border-color: white;
    cursor:pointer;
    width: 5rem;
    height: 2rem;
}

#page-book{
    max-width: 200px;
}


.book-info {
    padding: 0rem 18rem;
}

@media screen and (max-width: 425px) {
    .book-info{
        padding: 0;
        position: relative;
        right: 10rem;
    }
}

#spandes {
    font-size: 14px;
}

@media screen and (max-width: 425px) {
    #spandes {
        font-size: 11px;
    }
}

.book-specifics {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

@media screen and (max-width: 900px) {
    .book-specifics {
        width: 135%;
    }
}

@media screen and (max-width: 425px) {
    .book-specifics {
        width: 100%;
    }
}

.summary {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .summary, .reviews {
        width: 150%;
    }
}

@media screen and (max-width: 425px) {
    .summary {
        font-size: 12px;
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .reviews {
        display: none;
    }
}

/* this is the profile creation page */

.welcome-to-pdl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

@media screen and (max-width: 900px) {
    .create {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px){
    .create {
        font-size: 10px;
    }
}

.flexed {
    float: right;
}

#ellipse {
    max-width: 200px;
    position: absolute;
    left: 24rem;
}

@media screen and (max-width: 900px) {
    #ellipse {
        left: 12rem;
        top: 13rem;
        max-width: 25%;
    }
}

@media screen and (max-width: 425px) {
    #ellipse, #vector {
        display: none;
    }
}

#vector {
    position: relative;
    max-width: 130px;
    right: 10.4rem;
    top: 2.5rem;
}

@media screen and (max-width: 900px) {
    #vector {
        max-width: 64%;
        right: 5rem;
        top: -2rem;
    }
}

.registration {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    position: relative;
    left: 10rem;
    bottom: 7rem;
}

@media screen and (max-width: 900px) {
    .registration {
        bottom: 8rem;
        left: 9rem;
        row-gap: 0.25rem;
    }
}

@media screen and (max-width: 425px) {
    .registration {
        bottom: 0;
        left: 0;
    }
}

#flex1 {
    color: #742C2C;
}

#flex2 {
    color:  #ED907F;
}

#flex3 {
    color: #984F1F;
}

#register-button {
    color: white;
    background-color: #067C44;
    border-radius: 10px;
    border-color: white;
    width: 8rem;
    align-self: center;
}

#account{
    font-size: smaller;
}

@media screen and (max-width: 900px) {
    #account {
        position: relative;
        top: 0rem;
    }
}

#account a {
    color: #2477D9
}